body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {


}

@font-face {
  font-family: 'Abuget';
  font-style: normal;
  src: url('/assets/fonts/Abuget.ttf') format("ttf");
}
@font-face {
  font-family: 'Dino';
  font-style: normal;
  src: url('/assets/fonts/dinoProReg.otf') format("opentype");
}

*{
  font-family: 'Dino';
}
h1, h2{
  font-family: 'Abuget' ;
}
